.venv/
.opensim-env/
__pycache__/
*.pyc
.pytest_cache/

external/rajagopal2016/Geometry/
external/rajagopal2016/*.osim
models/masoero/*.osim
models/masoero/Geometry
poses/*.sto
poses/*.mot
poses/*.osim
poses/Geometry
reports/*.json
renders/*.png
